// All colors
// /!\ Duplicated in the grapesjs/index.ts too => keep in sync
$primaryColor: #333333;
$secondaryColor: #ddd;
$tertiaryColor: #8873FE;
$quaternaryColor: #A291FF;;
$darkerPrimaryColor: #292929;
$lighterPrimaryColor: #575757;

//light color
$primaryColor-light:    #1a1a1a;   // Texte principal
$secondaryColor-light:  #4d4d4d;   // Texte secondaire
$tertiaryColor-light:   #007acc;   // Accent / liens
$quaternaryColor-light: #e0e0e0;   // Fonds de panneau
$backgroundColor-light: #ffffff;   // Fond général
$panelBgLight:          #f7f7f7;   // Arrière-plan des barres
$borderColor-light:     #cccccc;   // Bordures
$hoverBgLight:          #f0f0f0;   // Survol
$buttonBgLight:         #007acc;   // Boutons actifs
$buttonTextLight:       #ffffff;   // Texte de bouton


$topBarHeight: 40px;
$projectBarWidth: 35px;
$projectPanelWidth: 13%;
$projectPanelMinWidth: 150px;
$viewsPanelWidth: 25%; // 15% is grapesjs default
$viewsProjectPanelWidth: 13%;
$footerHeight: 30px;
$transitionSpeedMedium: .15s;
$transitionSpeedSlow: .30s;
$prefix: 'gjs-';
$pn-prefix: '#{$prefix}pn-';
$cv-prefix: '#{$prefix}cv-';
$z-dialog-inline: 10;
$z-loader: 10;
$z-views-options-buttons: 5;

$fontFamily: 'Ubuntu', sans-serif;

:root {
  --primaryColor: #{$primaryColor};
  --secondaryColor: #{$secondaryColor};
  --tertiaryColor: #{$tertiaryColor};
  --quaternaryColor: #{$quaternaryColor};
  --darkerPrimaryColor: #{$darkerPrimaryColor};
  --lighterPrimaryColor: #{$lighterPrimaryColor};
  --viewsPanelWidth: #{$viewsPanelWidth};
  --viewsProjectPanelWidth: #{$viewsProjectPanelWidth};
}

//variables css for the light mode
:root.light-mode {
  --primaryColor:       #{$primaryColor-light};
  --secondaryColor:     #{$secondaryColor-light};
  --tertiaryColor:      #{$tertiaryColor-light};
  --quaternaryColor:    #{$quaternaryColor-light};
  --backgroundColor:    #{$backgroundColor-light};
  --panelBg:            #{$panelBgLight};
  --borderColor:        #{$borderColor-light};
  --hoverBg:            #{$hoverBgLight};
  --buttonBg:           #{$buttonBgLight};
  --buttonText:         #{$buttonTextLight};
}