@use "variables" as *;
.fonts-dialog {
  h2 {
    font-weight: lighter;
      background-color: var(--gjs-secondary-dark-color);
      letter-spacing: 1px;
      padding: 9px 10px 9px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  .silex-form__element {
    margin-bottom: 80px;
  }
}
