@use "variables" as *;

// Footer is sticky at the bottom of the stage
.gjs-pn-footer {
  bottom: 0;
  left: $projectBarWidth;
  right: var(--viewsPanelWidth);
  box-shadow: var(--silex-shadow-sm);
  height: $footerHeight;
}
